#content-anime .weeklySchedule {
    background-color: #2f3136;
}

body.light #content-anime .weeklySchedule {
    background-color: #fff;
}

#content-anime .seasonButtons button,
#content-anime .seasonButtons + div > button:first-child,
#content-anime button.showHideButton,
#content-anime button.screenshotButton {
    padding: 0.3rem 0.75rem;
    font-size: 1.3rem;
    line-height: 1.4;
}
#content-anime .seasonButtons + div > button:first-child,
#content-anime button.showHideButton,
#content-anime button.screenshotButton {
    padding: 0.25rem 0.75rem 0.35rem;
}
#content-anime > div:first-child button[disabled]:not(.active) {
    color: hsla(218,5%,47%,.6);
}

body.light #content-anime > div:first-child button {
    color: #2a2a2a;
    background-color: hsla(218,5%,47%,.6)
}

body.light #content-anime > div:first-child button:not(.active),
body.light #content-anime > div:first-child button:not([disabled]) {
    color: hsla(0,0%,100%,.85);
}
body.light #content-anime > div:first-child button:not([disabled]) {
    background-color: #2f3136;
}
body.light #content-anime > div:first-child button.active:not([disabled]) {
    background-color: #2B4880;
}

#content-anime > .flex {
    gap: 0 0.9rem;
    flex-wrap: wrap;
}

#content-anime > .flex button {
    margin-bottom: 0.25rem;
}

#content-anime > div:not(:first-child){
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
}

#content-anime .weeklySchedule .row {
    padding-top: 0;
    padding-bottom: 0;
}

#content-anime .weeklySchedule .col {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

#content-anime .weeklySchedule h4,
#content-anime .weeklySchedule p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

#content-anime .weeklySchedule hr {
    margin: 0.5rem auto;
}
#content-anime .weeklySchedule.hideUnmarked hr {
    margin: 0.5rem auto 0.375rem;
}

#content-anime .weeklySchedule > div p.marked {
    background-color: hsla(218,5%,47%,.25);
    border-radius: 0.2rem;
    padding: 0.125rem 0.25rem;
    margin: 0.375rem -0.25rem -0.125rem;
}
#content-anime .weeklySchedule:not(.hideUnmarked) > div p.marked:first-child {
    margin-top: -0.125rem;
}
#content-anime .weeklySchedule:not(.hideUnmarked) > div p {
    cursor: pointer;
}
#content-anime .weeklySchedule.hideUnmarked > div p.marked {
    background: none;
}
#content-anime .weeklySchedule.hideUnmarked > div p:not(.marked) {
    display: none !important;
}

#content-anime .impressions p:first-child {
    margin-top: 0;
    margin-bottom: 1rem;
}

#content-anime .impressions p + hr,
#content-anime .impressions dl + hr {
    margin-bottom: 0.5rem;
}
#content-anime .impressions h3 + hr {
    margin-bottom: 0;
}
#content-anime .impressions hr + dl {
    margin-top: 0;
}

#content-anime h3 + dl div:first-child dt {
    padding-top: 0;
}

#content-anime .wrap-up h3 + p + hr {
    margin-top: 0.75rem;
    margin-bottom: -0.75rem;
}
#content-anime .wrap-up dt span:not(:first-child) {
    font-weight: normal;
}
#content-anime .wrap-up dt .svg-icon {
    margin-left: 0.5rem;
}
#content-anime .wrap-up dt .svg-icon i {
    vertical-align: bottom;
}
#content-anime .wrap-up dd {
    margin-left: 3rem;
}
#content-anime .wrap-up dd:last-child {
    margin-top: 0.35rem;
}
#content-anime .wrap-up dl > div {
    position: relative;
    min-height: 6rem;
}
#content-anime .wrap-up dl > div > div {
    height: 3.75rem;
    width: 2.5rem;
    position: absolute;
    top: 2rem;
}
#content-anime .wrap-up dl > div > div span {
    position: absolute;
}
#content-anime .wrap-up dl > div > div span:first-child {
    width: 1.75rem;
    font-size: 1.5rem;
    left: -0.5rem;
    top: 0;
    text-align: center;
}
#content-anime .wrap-up dl > div > div span:nth-child(2) {
    font-size: 2rem;
    left: 0.25rem;
    top: 0.25rem;
}
#content-anime .wrap-up dl > div > div span:last-child {
    font-size: 1.5rem;
    right: 0;
    bottom: 0;
    text-align: center;
}