html {
    min-height: 100%;
}

body {
    margin: 0 1rem 0.75rem;
}

body,
body.light {
    background: url(/img/bg.jpg);
    background-position: center;
    background-size: cover;
}

.col {
    padding-right: 1.1875rem;
    padding-left: 1.1875rem;
}

.top-bar,
.top-bar .top-bar-nav,
body.light .top-bar,
body.light .top-bar .top-bar-nav {
    height: 3.5rem;
    background: none;
}

.link-bar-items {
    justify-content: space-around;
    max-width: 65rem;
    padding: 0rem 0.5rem;
    margin-left: auto;
    margin-right: auto;
    background: #1d1d1d;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.link-bar-items a {
    color: hsla(0,0%,100%,.85);
    padding: 0.25rem 0.5rem;
    display: flex;
}

.link-bar-items a i {
    font-size: 1.5rem;
}

.link-bar-items.flex {
    flex-flow: wrap;
    align-items: center;
}

#main {
    align-items: stretch;
    width: 100%;
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
}

#main > nav {
    flex-basis: 2.75rem;
    padding-top: 0.5rem;
    background: #2f3136;
    overflow-x: hidden;
}

body.nav #main > nav {
    flex-basis: 10.5rem;
}

body.light #main > nav {
    background: #fafafa;
}

#main > nav h3 {
    text-align: center;
    margin-bottom: 0;
    line-height: 0.125;
    width: 1.5rem;
    border-top: 1px solid hsla(0,0%,100%,.5);
    border-bottom: 1px solid hsla(0,0%,100%,.5);

    -webkit-transition: width 0.5s, line-height 0.25s;
    transition: width 0.5s, line-height 0.25s;
}

body.light #main > nav h3 {
    border-top-color: #4d4e53;
    border-bottom-color: #4d4e53;
}

#main > nav h3 > span {
    margin-bottom: 0;
    opacity: 0;
}

#main > nav a {
    color: hsla(0,0%,100%,.85);
    position: relative;
    width: 2rem;
    text-align: center;
}

body.light #main > nav a {
    color: #1D84C4;
}

body.light #main > nav a > span {
    text-decoration: underline;
    text-decoration-color: #ddd;
}

body.light #main > nav a:hover > span {
    text-decoration-color: #222;
}

#main > nav a > span {
    position: absolute;
    padding: 0.375rem;
    padding-right: 4.25rem;
    left: 2rem;
    white-space: nowrap;
}

#main > nav > div.flex-v {
    gap: 0.5rem;
}

#content {
    flex-basis: calc(100% - 3rem);
    margin-right: 0;
    background: #2f3136;
}

/* large format scrolling */
@media screen and (min-width: 641px) {
    #content {
        overflow-y: scroll;
        max-height: 83vh;
    }
}

button.active {
    color: inherit;
    font-weight: initial;
    background-color: #2B4880;
}

button[disabled] {
    cursor: initial;
    background-color: #1d1d1d;
}

/* large format nav bar */
@media screen and (min-width: 641px) {
    #main > nav {
        -webkit-transition: flex-basis 0.5s;
        transition: flex-basis 0.5s;
    }

    #main > nav a {
        -webkit-transition: margin-left 0.5s;
        transition: margin-left 0.5s;
    }


    body.nav #main > nav a {
        margin-left: -7.5rem;
    }

    #content {
        -webkit-transition: flex-basis 0.5s;
        transition: flex-basis 0.5s;
    }

    body.nav #main #content {
        flex-basis: calc(100% - 10.75rem);
    }

    #main > nav h3 {
        -webkit-transition: width 0.5s, line-height 0.25s 0.25s;
        transition: width 0.5s, line-height 0.25s 0.25s;
    }

    #main > nav h3 > span {
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s;
    }

    body.nav #main > nav h3 {
        line-height: 1.5;
        width: 9rem;
        -webkit-transition: width 0.5s, line-height 0.25s;
        transition: width 0.5s, line-height 0.25s;
    }

    body.nav #main > nav h3 > span {
        opacity: 1;
        -webkit-transition: opacity 0.25s 0.25s;
        transition: opacity 0.25s 0.25s;
    }
}

/* small format nav bar */
@media screen and (max-width: 640px) {
    #main > nav {
        margin-left: 0;
        flex-basis: 10.5rem;

        -webkit-transition: margin-left 0.5s;
        transition: margin-left 0.5s;
    }

    #main > nav a {
        margin-left: -7.5rem;
    }

    #content {
        flex-basis: 100%;
        margin-left: 0.25rem;
        margin-right: -11.25rem;

        -webkit-transition: margin-left 0.5s, margin-right 0.5s;
        transition: margin-left 0.5s, margin-right 0.5s;
    }

    body.nav #main > nav {
        margin-left: -11.25rem;
    }

    body.nav #main #content {
        margin-left: 0.75rem;
    }

    #main > nav h3 {
        line-height: 1.5;
        width: 9rem;
        -webkit-transition: width 0.5s, line-height 0.25s;
        transition: width 0.5s, line-height 0.25s;
    }

    #main > nav h3 > span {
        opacity: 1;
        -webkit-transition: opacity 0.25s 0.25s;
        transition: opacity 0.25s 0.25s;
    }

    body.nav #main > nav h3 {
        -webkit-transition: width 0.5s, line-height 0.25s 0.25s;
        transition: width 0.5s, line-height 0.25s 0.25s;
    }

    body.nav #main > nav h3 > span {
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s;
    }

    #content-blocker > div {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    body.nav #content-blocker > div {
        display: none;
    }
}

h2 + hr,
h3 + hr {
    margin-top: 0.25rem;
}

img.emoji {
    height: 1rem;
    margin: 0 0.1em;
    vertical-align: text-top;
}

footer > div {
    height: 2.8rem;
    max-width: 65rem;
    margin: 0 auto;
    background: #1d1d1d;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

footer .flex {
    align-items: center;
}

footer .flex p {
    margin: 0;
}

body.light #content {
    background: #fff;
}

body.light footer > div {
    background: #2f3136;
}


body.light .link-bar-items {
    background: #2f3136;
}

body.light .link-bar-items a,
body.light nav a {
    color: hsla(0,0%,100%,.85);
    border-bottom: none;
}

a {
    color: #56ADE2;
}

a:hover,
body.light .top-bar a:hover,
body.light .link-bar-items a:hover,
#main > nav a:hover,
body.light #main > nav a:hover {
    color: #2199E8;
}

body.light a {
    color: #1D84C4;
}

body.light a:hover,
body.light .top-bar a:hover,
body.light .link-bar-items a:hover {
    color: #2199E8;
}

.top-bar .top-bar-nav a.button {
    height: initial;
    padding: 0.75rem;
}
.top-bar .top-bar-nav a.button:hover,
body.light .top-bar .top-bar-nav a.button:hover {
    color: #fff;
    background: none;
}

iframe {
    border-radius: 1rem;
}

nav .fa-brands,
nav .fa {
    font-size: 1.5rem;
    line-height: 1.5;
}

.svg-icon i,
i.svg-icon {
    display: inline-block;
    margin: -0.25rem;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    opacity: .85;
}

.svg-icon:hover i,
i.svg-icon:hover {
    opacity: 1;
}

.mal-icon i {
    background: url('/img/icon/myanimelist.svg') no-repeat center center / contain;
    height: 2rem;
    width: 2rem;
}
.mal-icon:hover i {
    background: url('/img/icon/myanimelist-h.svg') no-repeat center center / contain;
}

.pixiv-icon i {
    background: url('/img/icon/pixiv.svg') no-repeat center center / contain;
}
.pixiv-icon:hover i {
    background: url('/img/icon/pixiv-h.svg') no-repeat center center / contain;
}

/* medium format */
@media screen and (max-width: 67rem) {
    .col {
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
}

@media screen and (max-width: 680px) {
    body {
        margin: 0 0.75rem 0.825rem;
    }

    .app.row {
        padding-top: 0.75rem;
    }

    .col .row .col {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}